<header>

  <h1>Quote Management Portal</h1>

</header>

<br>
<br>

<div class="container">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Destination</th>
        <th scope="col">Mark as Complete</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>

</div>
