form{

    margin: 150px;

    }




.cta {
    background:red;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}
body{
    background-image:url('https://www.joc.com/sites/default/files/field_feature_image/C.R.%20England.gif');
    background-size:cover;
    height:100vh;
}


