header {
   

    .logo {
        font-weight: bold;
    }
     
}

body {

    background-image:url('https://www.joc.com/sites/default/files/field_feature_image/C.R.%20England.gif');
    background-size:cover;
    height:100vh;

}
