header {
   

    .logo {
        font-weight: bold;
    }
     
}

body {

    background-image: url(https://images.pexels.com/photos/906494/pexels-photo-906494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);    background-size:cover;
    height:100vh;

}
