<body style="background-image: url(https://images.pexels.com/photos/906494/pexels-photo-906494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); height: 100vh; background-size: cover; background-attachment: fixed;">

    <header>

        <app-nav-header></app-nav-header>
      
      </header>

      <br>
      <br>

      <div class="container" style="align-items: center; padding-top: 150px;">

          <h4 style="color:white">
              <b>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor elit et 
                  sagittis aliquam. Proin luctus, orci vitae tempor blandit, sem massa feugiat risus, 
                  eget faucibus risus erat id sapien. Duis id commodo orci. Sed sodales convallis orci, 
                  et volutpat nisl fringilla eget. Fusce eu justo at ante bibendum pretium. Cras semper 
                  suscipit neque, id mollis nunc semper ut. Vestibulum eget condimentum sapien. Praesent
                  in consectetur tortor. Maecenas aliquam nulla id metus mollis, in blandit diam aliquet. 
                  Suspendisse porta sem ipsum, non gravida nisl hendrerit nec. Phasellus non massa nec 
                  lorem sollicitudin tincidunt. Nulla nec dapibus turpis, sit amet ultricies velit. Nunc
                  dictum vehicula elementum. Vivamus eu neque nunc.
              </b>
             
          
          </h4>

      </div>
      <br>
      <br>
      <div style="padding-left: 700px;">
        <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['orderdetails']">Get Quotes</button>
      </div>


</body>
