<body style="background-image: url(https://images.pexels.com/photos/906494/pexels-photo-906494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); height: 100vh; background-size: cover; background-attachment: fixed;">

    <header>

        <app-nav-header></app-nav-header>
      
      </header>
      
      <br>
      <br>
      <br>
      
      
        <div class="container">
         
          
      
            <div>
              <label>Click on the buttons to view all quotes:</label>
              <br>
              <br>
              <button type="button" class="btn btn-info" (click)="showAll()">Show All Quotes</button>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <button type="button" class="btn btn-info" (click)="showByName()">Show Quotes By Name</button>
            </div>
           <br>
          
           <div class="row">
            <div class="col col-md-9">
            <div class="card" style="width:500px; height:325px; padding:15px; background: transparent" *ngIf="show2">

              <label style="color: black">Name:</label>
              <label style="color: black">Email:</label>
              <label style="color: black">Phone Number:</label>
              <label style="color: black">Type:</label>
              <label style="color: black">Quantity:</label>
              <label style="color: black">Destination:</label>
              <label style="color: black">Comments:</label>
              <br>
              <div style="display: inline-block; padding-left: 125px; ">
                <button type="button" class="btn btn-info " id="side" style="width:100px" >Edit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info " id="side" style="width:100px">Delete  </button>
              </div>
              
             </div>
            </div>
             

           </div>
          
          
        
           <br>

           <div>
            <button type="button" class="btn btn-info" (click)="showAdd()">Add a New Quote</button>
           </div>
      
           <br>
           <br>
      
           <div class="card " style="width: 500px; height: 700px; padding-top: 10px; align-content: center; background: transparent" *ngIf="show1">
      
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input
                        
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control"
                        >
                        <span 
                        *ngIf= "!addForm.get('name').valid && addForm.get('name').touched"
                        class="help-block">Please enter your name</span>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        type="text"
                        id="email"
                        formControlName="email"
                        class="form-control">
                        <span 
                        *ngIf= "!addForm.get('email').valid && addForm.get('email').touched"
                        class="help-block">Please enter your email</span>
                    </div>
                    <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input
                        type="number"
                        id="phone"
                        formControlName="phone"
                        class="form-control">
                        <span 
                        *ngIf= "!addForm.get('phone').valid && addForm.get('phone').touched"
                        class="help-block">Please enter your phone number</span>
                    </div>
                    <div class="form-group">
                      <label for="type">Type</label>
                      <select class="form-control" 
                      id="type"
                      formControlName="type"
                      class="form-control"
                     >
                      <option  [value]="t" *ngFor="let t of typeOf" >{{t}}</option>
                      </select>
                      <span 
                        *ngIf= "!addForm.get('type').valid && addForm.get('type').touched"
                        class="help-block">Please select a Type</span>
                    </div>
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <select class="form-control" 
                      id="quantity"
                      formControlName="quantity"
                      class="form-control"
                     >
                      <option  [value]="q" *ngFor="let q of quantities" >{{q}}</option>
                      </select>
                      <span 
                      *ngIf= "!addForm.get('quantity').valid && addForm.get('quantity').touched"
                      class="help-block">Please select a quantity</span>
                      
                    </div>
                    <div class="form-group">
                      <label for="destination">Destination</label>
                      <select class="form-control" 
                      id="destination"
                      formControlName="destination"
                      class="form-control"
                     >
                      <option  [value]="d" *ngFor="let d of dests" >{{d}}</option>
                      </select>
                      <span 
                        *ngIf= "!addForm.get('destination').valid && addForm.get('destination').touched"
                        class="help-block">Please select a destination</span>
                    </div>
                    <div class="form-group">
                      <label for="comments">Comments</label>
                      <textarea
                        type="text"
                        id="comments"
                        formControlName="comments"
                        class="form-control"
                        ></textarea>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
            
        
          </div>
          
          <br>
          

          <button class="btn btn-primary" type="submit" [routerLink]="['reviewpage']">Continue</button>
      
        </div>

</body>



